@{
    ViewData["Title"] = "Odgovornost autora";
}
<h1>@ViewData["Title"]</h1>

<div class="row">

    Za prikaz nekog proizvoda (ili svih proizvoda) u JSON formatu, možete koristiti sljedeći link:

    <ul class="lista">
        <li>Svi proizvodi - <a href="https://localhost:7223/api/proizvodi/" target="_blank">https://localhost:7223/api/proizvodi/</a></li>
        <li>Jedan proizvod - <a href="https://localhost:7223/api/proizvodi/5" target="_blank">https://localhost:7223/api/proizvodi/5</a> - možete umjesto 5 staviti bilo koji id proizvoda koji postoji u tablici</li>
    </ul>

</div>


<p>Aplikaciju izradila Anamarija Jozić.</p>
